@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  background-color: #111;
  color: #ffffff;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

// 절대값으로 위치를 고정

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .time {
    font-weight: bold;
    font-size: 100px;
    color: skyblue;
    border: 10px dotted violet;
  }

  .quotes {
    position: relative;
    font-size: 60px;
    font-weight: bold;
    .quotesAddBtn {
      display: none;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      border-radius: 14px;
      background-color: transparent;
      cursor: pointer;
    }
    // top, right 만 주면 quotes 정 가운데에 위치하지 않으니, transform을 사용하여 정중앙에 위치하도록 한다.

    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }
    }
  }

  .newQuotes {
    display: none;

    .newQuotesInput {
      font-weight: bold;
      border-radius: 12px;
    }
    .newQuotesButton {
      font-weight: bold;
      border-radius: 12px;
    }
  }

  .search {
    .searchLogo {
      width: 32px;
      height: 32px;

      animation: spin 1s linear infinite;
    }

    .anyQuestion {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .searchResult {
    display: none;
  }

  .nft {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;

    img {
      width: 256px;
      height: 256px;
      border-radius: 20px;
    }

    .nftHover {
      position: absolute;
      display: none;
      width: 256px;
      height: 256px;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 20px;

      a {
        color: white;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        margin: -8px;
        border-radius: 9999px;
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      .nftHover {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .nftView {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;
    display: none;
  }
}

// z-index 만 하면 안 되고, position fixed를 해줘야함
// z가 들어가면 3D로 생각해야 된다. z-index 값이 높을 수록 앞 쪽에 배치가 된다
// justify-content는 세로 축에서 가운데 값을 입력하였고, align-items 에서 정중앙을 맞춰주었다.
// 글자 사이 관련 css = letter-spacing
